.root {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    align-items: center;
}

.content-container {
    display: flex;
    flex-direction: column;
    width: 90%;
    flex: 1;
}

.tasks-section {
    display: flex;
    flex-direction: column;
}

.header {
    font-size: 26px;
    font-weight: bold;
    color: #1E1E1E;
    display: flex;
    align-items: center;
}

.header img {
    margin-left: 20px;
}

.tasks-section .list {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.middle-section {
    display: flex;
    margin-top: 10%;
}

.middle-section .left {
    flex: 2;
    aspect-ratio: 1;
    border-radius: 10px;
    border-width: 2px;
    border-style: solid;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: 5px;
    border-color: #B3D5D1;
}

.middle-section .left .name {
    font-size: 20px;
    letter-spacing: 2px;
    margin-top: 5px;
    font-weight: bold;
}

.middle-section .left img {
    object-fit: cover;
    border-radius: 100%;
    height: 50%;
    width: 50%;
}

.middle-section .right {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.middle-section .right .button {
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    margin: 5px;
}

.meetings-section {
    flex: 1;
    margin-top: 10%;
}

.mute-button {
    background-color: #87BAD0;
    box-shadow: 0px 0px 4px 0px rgba(99, 137, 154, 1);
}

.settings-button {
    background-color: #F6CA76;
    box-shadow: 0px 0px 4px 0px rgba(148, 120, 73, 1);
}

.logout-button {
    font-family: Avenir;
}