.root {
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.header {
    display: flex;
}

.location {
    background-color: red;
}

.description {
    background-color: pink;
}

.progress {
    background-color: blue;
    width: 100%;
    height: 100px;
}

.difficulty-slider {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20px;
}

.difficulty-thumb {
    width: 15px;
    height: 15px;
    background-color: pink;
}

.difficulty-track {
    width: 100%;
    height: 5px;
    background-color: green;
}

.map-container {
    
}