.root {
    display: flex;
    justify-content: space-between;
    width: 50px;
}

.dot-outline {
    border-radius: 100%;
    border-width: 1px;
    border-style: solid;
    width: 10px;
    height: 10px;
}