.root {
    display: flex;
    justify-content: space-between;
}

.dot-outline {
    border-radius: 100%;
    border-width: 1px;
    border-color: black;
    border-style: solid;
    width: 15px;
    height: 15px;
}

.dot-full {
    background-color: black;
}