.root {
    display: flex;
    justify-content: space-between;
    width: 60px;
}

.dot-outline {
    border-radius: 100%;
    border-width: 2px;
    border-style: solid;
    width: 12px;
    height: 12px;
}