.root {
    width: 100%;
    display: flex;
    flex-direction: column;
    color: var(--text-darker);
    padding-bottom: 15px;
}

.upper-part {
    display: flex;
    flex: 1;
    justify-content: flex-end;
    margin: 20px 25px 8px 0;
}

.lower-part {
    display: flex;
    justify-content: space-between;
    align-items: end;
    margin: 0 30px;
    font-size: 22px;
}

.bold-label {
    font-weight: bold;
}

.day-name-label {
    font-size: 20px;
}

.date-container {
    display: flex;
}