.root {
    width: 100vw;    
    height: 100vh;  
    display: flex;
    flex-direction: column;  
    overflow: hidden;
}

.scrollable {
    flex: 1;
    overflow-y: scroll;
    padding-left: 10px;
    padding-right: 10px;
}

.calendar {
    flex: 1;
    height: 200vh;
    margin-top: 20px;
}