.root {
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
}

.list {
    display: flex;
    flex-direction: column;
    flex: 1;
    overflow-y: scroll;
    margin-bottom: 10px;
}
