.root {
    border-radius: 10px;
    border-width: 2px;
    border-style: solid;
    border-color: #000000;
    display: flex;
    margin-top: 10px;
}

.photo-container {
    display: flex;
    padding: 10px;
}

.photo-container img {
    height: 50px;
    border-radius: 100%;
    aspect-ratio: 1;
}

.info-container {
    flex: 1;
    align-items: center;
}

.name {
    font-weight: bold;
    letter-spacing: 2px;
    font-size: 20px;
}

.time-suggestion {

}