.root {
    border-radius: 8px;
    border-width: 1px;
    border-style: solid;
    border-color: var(--random);
    display: flex;
    margin-top: 10px;
    color: var(--text-darker);
}

.photo-container {
    margin: 10px 70px 10px 10px;
    display: flex;
    padding: 10px;
}

.photo-container img {
    height: 64px;
    border-radius: 100%;
    aspect-ratio: 1;
}

.info-container {
    flex: 1;
    align-items: flex-start;
    justify-content: center;
}

.name {
    margin-top: 15px;
    margin-bottom: 10px;
    font-weight: bold;
    letter-spacing: 2px;
    font-size: 24px;
}

.time-suggestion {
    font-size: 14px;
}